@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BlueDreamRegular';
    src: url('/fonts/blue-dream/BlueDream-Regular.woff2');
}

@font-face {
    font-family: 'DmSansBold';
    src: url('/fonts/dm-sans/DMSans-Bold.ttf');
}